.bg-body-tertiary {
  background-color: purple !important;
}

.banner{
  height: 100vh;
  background: linear-gradient(rgba(0,0,0),rgba(0,0,0,0.4)),url('https://food.fnr.sndimg.com/content/dam/images/food/fullset/2015/6/9/3/FNM_070115-Grilled-Steak-and-Rice-Bowl-Recipe_s4x3.jpg.rend.hgtvcom.1280.960.suffix/1433952072522.webp');
  background-size: cover;
  background-position: center;
}

.navbar h4,
.navbar .nav-link {
    color: white !important;
}

.icon-service{
    width: 90px;
    height: 90px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: #f9f6f8;
   }

   .main-color{
    background-color: #760d8d;
   }